
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*header*/
header{
    width: 100vw;
    height: 80px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 3;
}

header .inner{
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 50px;
    margin-top: 5px; /* Optical alignment of the logo */
}

#BarraNav{
    display: flex;
    padding-top: 25px;
    padding-left: 350px;
    padding-bottom: 25px;;
    vertical-align: middle;

}
#BarraNav img{
    background-color: transparent;
    width: 30px;
    height: 30px;
}
#BarraNav input{
    width: 300px;
    height: 30px;
    Border:none;
    background-color:transparent
}
#BarraNav span{
    background-color: #8bbcdb6e;
    border-radius: 15px;
    padding: 5px;
}

button.Home{
    border: none;
    filter: brightness(1.08)
}

button.Home:hover{
    filter: brightness(1.0);
}

header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}
header nav span {
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

header nav li:last-of-type{
    margin-right: 0;
}
header #FPHeader{
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10%;
    display: table-cell;
    vertical-align: middle;
}

/*arriba header*/
/*abajo container*/

#Contenido{
    padding-top: 100px;
}

#Espacio{
    padding: 20px 24px;
    background-color: #c4d2db;
}

#Ordenar{
    padding: 10px 14px;
    border-radius: 5px;
    height: 50px;
    background-color: #8bbddb;
}

#Publicaciones{
    padding: 10px 14px;
    border-radius: 5px;
    height: 950px;
    background-color: #8bbddb;
}

.UserP{
    font-weight: bold;
}
.FechaP{
    font-size: small;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.514);
}

#pngP{
    width:400px;
}

#Perfil{
    padding: 10px 14px;
    border-radius: 5px;
    height: 350px;
    background-color: #bdaff0;
}
#ElemPer h2{
    color:white;
}
#FP{
    border:none;
    border-radius: 20px;
    position: relative;
    bottom: 80px;
    left: 15px;
    z-index: 2;
    border-color: white;
}
#Portada{
    height: 120px;
    background-color: #f8d6f8d8;
}

#Ordenar{
    text-align: center;
}

#BtnP{
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}


.reactB{
    background-color: #f8d6f800;
    border: none;
    cursor: pointer;
}
#reactI{
    width: 30px;
    height: 30px;
    border: none;
}

.Publi{
    position:absolute;
    left: 200px;
    Top: 130px;

}
.reactB:hover{
    filter: brightness(3.3);
}

.FuncP button{
    border: none;
    background-color: rgba(255, 255, 255, 0.61);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(43, 153, 226, 0.61);
    cursor: pointer;
    transition: background-color .5s;
    box-sizing: content-box;
}

.btn-primary{
color: black;
}
.btn-secondary{
    color: black;
    }

.btn-primary:hover{
        background-color: rgba(172, 203, 228, 0.877);
        box-shadow: 3px 3px 3px rgba(43, 153, 226, 0.61);
        color: black;
    }
.btn-secondary:hover{
        background-color: rgba(172, 203, 228, 0.877);
        box-shadow: 3px 3px 3px rgba(43, 153, 226, 0.61);
        color: black;
}

.Fbtn:hover{
    background-color: rgba(255, 255, 255, 0.877);
    box-shadow: 3px 3px 3px rgba(43, 153, 226, 0.61);
    color: black;
}

#icono{
    background-color: #10101000;
    height: 30px;
    width: 30px;
}


.Comentario{
    border-top: 1px solid rgba(119, 136, 153, 0.548);
}

#InputComent{
    height: 120px;
    width: 480px;
    border:none;
    box-shadow: 3px 3px 3px rgba(43, 153, 226, 0.61);
    border-radius: 20px;

}

#BtnComent{
    border: none;
    background-color: rgba(255, 255, 255, 0.329);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(43, 153, 226, 0.61);
    cursor: pointer;
    transition: background-color .5s;
    box-sizing: content-box;
}
#BtnComent:hover{
    background-color: rgba(255, 255, 255, 0.877);
    box-shadow: 3px 3px 3px rgba(43, 153, 226, 0.61);
    color: black;
}

footer{

    height: 200px;

    display: flex;
    place-content: center;

    align-items:flex-end;
    color:#63616ba8;
    padding-bottom: 20px;
    
}